html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Rajdhani", sans-serif;
}

input, button, textarea, select {
  font-family: inherit;
}

input, button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.landing-wapper {
  padding: 80px 0 140px;
  width: 100%;
  background-image: url(../asset/image/bg.jpg);
  background-size: cover;
  overflow: hidden;
}

.switch-tab-input {
  display: none;
}

.landing-info .landing-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-info .landing-logo img {
  fill: #fff;
  width: 42px;
  height: 60px;
}
.landing-info .landing-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landing-info .landing-title span {
  margin-top: 36px;
  font-size: 5rem;
  font-weight: 500;
  color: #fff;
}
.landing-info .landing-title h1 {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-size: 100px;
}
.landing-info .landing-info-text {
  font-weight: 500;
  font-size: 2.4rem;
  text-align: center;
  color: #fff;
  margin-top: 28px;
}
.landing-info .switch-tab {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.landing-info .switch-tab .login-btn, .landing-info .switch-tab .register-btn {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  width: 180px;
  height: 54px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  line-height: 54px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out, color 0.3s ease-in-out;
}
.landing-info .switch-tab .login-btn label, .landing-info .switch-tab .register-btn label {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.landing-info .switch-tab .login-btn {
  border-radius: 10px 0px 0px 10px;
}
.landing-info .switch-tab .register-btn {
  border-radius: 0px 10px 10px 0px;
}

#login-btn:checked ~ .col-12 .landing-info .switch-tab .login-btn {
  background-color: #fff;
  color: #000;
}

#register-btn:checked ~ .col-12 .landing-info .switch-tab .register-btn {
  background-color: #fff;
  color: #000;
}

#login-btn:checked ~ .col-12 .landing-form .login-form,
#register-btn:checked ~ .col-12 .landing-form .register-form {
  opacity: 1;
  pointer-events: all;
}

#register-btn:checked input[type=password],
input[type=text], input[type=email] {
  height: 54px;
  padding: 0 18px;
}

.landing-form {
  z-index: 2;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.landing-form .rocket-image {
  position: absolute;
  top: -70px;
  left: -70px;
  opacity: 0;
}
.landing-form .login-form {
  opacity: 0;
  background-color: white;
  padding: 64px;
  border-radius: 10px;
  width: 100%;
  pointer-events: none;
}
.landing-form .register-form {
  opacity: 0;
  position: absolute;
  background-color: white;
  padding: 64px;
  border-radius: 10px;
  width: 100%;
  top: 0;
  pointer-events: none;
}
.landing-form .form {
  margin-top: 76px;
}
.landing-form .landing-form-title h2 {
  font-weight: 700;
  font-size: 2.6rem;
  text-align: center;
}
.landing-form .form-input {
  position: relative;
  margin-top: 28px;
}
.landing-form .form-input label {
  color: #adafca;
  font-size: 1.6rem;
  font-weight: 600;
  position: absolute;
  top: 20px;
  left: 20px;
  scale: 1;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  background-color: white;
  padding: 0px 5px;
}
.landing-form .form-input input {
  display: block;
  border: 1px solid #dedeea;
  width: 100%;
  border-radius: 10px;
  font-size: 1.6rem;
}
.landing-form .form-input input::placeholder {
  color: transparent;
}
.landing-form .form-input input:focus {
  border-color: #6610f2;
}
.landing-form .form-input input:focus ~ label {
  top: -7px;
  left: 10px;
  scale: 0.9;
}
.landing-form .form-input input:not(:placeholder-shown) ~ label {
  top: -7px;
  left: 10px;
  scale: 0.9;
}
.landing-form .form-items-row {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-top: 28px;
}
.landing-form .form-items-row a {
  color: #adafca;
  font-size: 1.4rem;
  font-weight: 700;
}
.landing-form .form-items-row a :hover {
  color: #23D2E2;
}
.landing-form .form-items-row .remember-btn-wrap, .landing-form .form-items-row .send-btn-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.landing-form .form-items-row .remember-btn-wrap input, .landing-form .form-items-row .send-btn-wrap input {
  display: none;
}
.landing-form .form-items-row .remember-btn-wrap label, .landing-form .form-items-row .send-btn-wrap label {
  z-index: 10;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
}
.landing-form .form-items-row .remember-btn-wrap .remember-btn, .landing-form .form-items-row .remember-btn-wrap .send-btn, .landing-form .form-items-row .send-btn-wrap .remember-btn, .landing-form .form-items-row .send-btn-wrap .send-btn {
  overflow: hidden;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #000;
}
.landing-form .form-items-row .remember-btn-wrap .remember-btn .remember-btn-checked, .landing-form .form-items-row .remember-btn-wrap .send-btn .remember-btn-checked, .landing-form .form-items-row .send-btn-wrap .remember-btn .remember-btn-checked, .landing-form .form-items-row .send-btn-wrap .send-btn .remember-btn-checked {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #23D2E2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.landing-form .form-items-row .remember-btn-wrap span, .landing-form .form-items-row .send-btn-wrap span {
  font-size: 1.4rem;
  font-weight: 700;
  margin-left: 10px;
}
.landing-form .form-button {
  margin-top: 28px;
}
.landing-form .form-button .button {
  width: 100%;
  background-color: #6610f2;
  height: 48px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
}
.landing-form .line-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 28px;
}
.landing-form .line-text p {
  text-align: center;
}
.landing-form .line-text::before {
  margin-right: 20px;
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
}
.landing-form .line-text::after {
  margin-left: 20px;
  content: "";
  display: block;
  width: 70px;
  height: 1px;
  background-color: #eaeaf5;
}
.landing-form .social-links {
  margin-top: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.landing-form .social-links .social-link {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.landing-form .social-links .social-link:hover {
  transform: translateY(-10PX);
}
.landing-form .social-links .social-link a {
  color: white;
}
.landing-form .social-links .facebook {
  background-color: #3763D2;
}
.landing-form .social-links .twitter {
  background-color: #1ABCFF;
}
.landing-form .social-links .twitch {
  background-color: #7B5DFA;
}
.landing-form .social-links .youtube {
  background-color: #FD434F;
}
.landing-form .form-text {
  margin-top: 28px;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-form .form-text span {
  text-align: center;
}
.landing-form .form-text span a {
  color: #23D2E2;
}

#remember-btn:checked ~ .remember-btn .remember-btn-checked {
  opacity: 1;
}

#send-btn:checked ~ .send-btn .send-btn-checked {
  opacity: 1;
}

.send-btn-checked {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #23D2E2;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

input[type=password] {
  height: 54px;
  padding: 18px;
}

@media screen and (min-width: 0px) {
  .landing-info-text {
    display: none;
  }
  .rocket-image {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .row {
    justify-content: center;
  }
}
@media screen and (min-width: 1365px) {
  .row {
    justify-content: center;
  }
  .landing-info-text {
    display: block;
    width: 100%;
  }
  .landing-info-text p {
    display: block;
    font-size: 18px;
  }
  .login-form, .register-form {
    translate: 1000px;
    transition: all 0.7s ease-in-out;
  }
  #login-btn:checked ~ .col-12 .landing-form .login-form,
  #register-btn:checked ~ .col-12 .landing-form .register-form {
    opacity: 1;
    pointer-events: all;
    translate: 0px;
  }
  .landing-wapper {
    height: 100vh;
  }
  .rocket-image {
    opacity: 1;
  }
  .landing-info {
    padding-right: 90px;
  }
}
@media screen and (min-width: 1500px) {
  .landing-wapper::after {
    z-index: 0;
    content: "";
    position: absolute;
    width: 65%;
    height: 130%;
    border-radius: 50%;
    background: url(../asset/image/dot-texture.png) repeat #fff;
    top: -25%;
    right: -32%;
    pointer-events: none;
  }
  body {
    overflow: hidden;
    height: 100vh;
  }
}

/*# sourceMappingURL=styles.css.map */
