@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.container {
    margin: 40px auto;
    height: 30px;
    width: 600px;
}
.container>ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn, .rest {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid #cecece;
    height: 100%;
    font-size: 0.5rem;
    color: #666 ;
    position: relative;
}
.rest {
    width: 263px;
}
.home-btn {
    width: 35px;
}
.blog-btn {
    width: 50px;
}
.contacts-btn {
    width: 64px;
}
.protfolio-btn,
.about-us-btn,
.protfolio-btn>.primary-btn,
.about-us-btn>.primary-btn
 {
    width: 68px;
}
.news-btn, .news-btn>.primary-btn {
    width: 58px;
}
a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #666;
}
a>*, .primary-btn>* {
    margin: 2px;
}
.btn:hover>a,
.btn:hover .primary-btn {
    background-color: #2da5da ;
    color: white;
}
.primary-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: fit-content;
    text-decoration: none;
    color: #666;
}
.popup-list{
    margin-top: 10px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid transparent;
    box-shadow: 0 0 10px rgba(155, 153, 153, 0.3);
}
.triangle {
    position: absolute;
    top: -11px;
    left: 10px;
    width: 5%;
    display: block;
    border-color: transparent transparent white transparent ;
    border-width: 6px;
    border-style: solid;
}
.pad {
    width: 100%;
    height: 20px;
    color: red;
    display: block;
    position: absolute;
    margin-top: 40px;
}
.popup-list>ul>li {
    display: flex;
    list-style: none;
    width: 120px;
    height: 30px;
    border: 1px solid #cecece;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
}
.popup-list>ul>li>a {
    justify-content: start;
    margin-left: 10px;
}
.about-us-btn:hover .about-us-popup-list,
.protfolio-btn:hover .protfolio-popup-list,
.news-btn:hover .news-popup-list {
    display: block;
}
.popup-list>ul>li:last-child {
    border-bottom-style: none ;
}
.popup-list>ul>li:hover {
    background-color: #2da5da;
}
.popup-list>ul>li:hover a{
    color: white;
}